[server]

# Only use IP (or localhost) addresses for connections
skip-name-resolve = 1

# InnoDB buffer pool size in bytes
innodb_buffer_pool_size = 128M

# Does not divide the pool instances
innodb_buffer_pool_instances = 1

# Flush to disk after each transaction
innodb_flush_log_at_trx_commit = 1

# Size in bytes of the buffer for writing InnoDB redo log files to disk
innodb_log_buffer_size = 32M

# Cache all SELECT queries
query_cache_type = 1

# Do not cache query larger than 2M
query_cache_limit = 2M

# Minimum size in bytes of the blocks allocated for query cache results
query_cache_min_res_unit = 2k

# Size in bytes available to the query cache
query_cache_size = 64M

# Max size for temporary tables in memory
tmp_table_size= 64M

# Maximum size in bytes for user-created MEMORY tables
max_heap_table_size= 64M

[client]

# Define the default character set for mysql client
default-character-set = utf8mb4

[mysqld]

# Only listen on localhost interface
bind-address = 127.0.0.1

# Define the default character set for mysql server
character-set-server = utf8mb4

# Define the default character set for mysql server
collation-server = utf8mb4_general_ci

# Define the transaction isolation level used by Nextcloud
transaction_isolation = READ-COMMITTED

# Define the binary log format used by Nextcloud
binlog_format = ROW

# Use the file per table tablespaces
innodb_file_per_table = 1

[mysqld_safe]

# Log to syslog
syslog

